
#mainNav {
	width: 100%;    
	max-width: 100%;
  }
  .progress {
	width: 150px;
	height: 150px;
	background: none;
	position: relative;
	overflow: visible;
  }
  
  .progress::after {
	content: "";
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 6px solid #eee;
	position: absolute;
	top: 0;
	left: 0;
  }
  
  .progress>span {
	width: 50%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 1;
  }
  
  .progress .progress-left {
	left: 0;
  }
  
  .progress .progress-bar {
	width: 100%;
	height: 100%;
	background: none;
	border-width: 6px;
	border-style: solid;
	position: absolute;
	top: 0;
  }
  
  .progress .progress-left .progress-bar {
	left: 100%;
	border-top-right-radius: 80px;
	border-bottom-right-radius: 80px;
	border-left: 0;
	-webkit-transform-origin: center left;
	transform-origin: center left;
  }
  
  .progress .progress-right {
	right: 0;
  }
  
  .progress .progress-right .progress-bar {
	left: -100%;
	border-top-left-radius: 80px;
	border-bottom-left-radius: 80px;
	border-right: 0;
	-webkit-transform-origin: center right;
	transform-origin: center right;
  }
  
  .progress .progress-value {
	position: absolute;
	top: 0;
	left: 0;
  }
  .progress-bar {
	transition-duration: 1s;
  }
  .progress-left .progress-bar {
	transition-delay: 0.5s;
  }
  .progress-right .progress-bar {
	transition-delay: 1s;
  }
  del {
	text-decoration: none;
  }
  
  /* circle animation */
  .flex-wrapper {
	display: flex;
	flex-flow: row nowrap;
  }
  
  .single-chart {
	width: 33%;
	justify-content: space-around ;
  }
  
  .circular-chart {
	display: block;
	margin: 10px auto;
	max-width: 80%;
	max-height: 250px;
  }
  
  .circle-bg {
	fill: none;
	stroke: #eee;
	stroke-width: 3.8;
  }
  
  .circle {
	fill: none;
	stroke-width: 2.8;
	stroke-linecap: round;
	animation: progress 1s ease-out forwards;
  }
  
  @keyframes progress {
	0% {
	  stroke-dasharray: 0 100;
	}
  }
  
  .circular-chart.orange .circle {
	stroke: #ff9f00;
  }
  
  .circular-chart.green .circle {
	stroke: #4CC790;
  }
  
  .circular-chart.blue .circle {
	stroke: #3c9ee5;
  }
  
  .percentage {
	fill: #666;
	font-family: sans-serif;
	font-size: 0.5em;
	text-anchor: middle;
  }
  /* circle animation */
  .progress .bg {
	position: relative;
	display: flex;
	border-radius: 50%;
	font-size: 36px;
	text-align: center;
	line-height: 20px;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	font-weight: 300;
  }
  .progress .bg::after {
	width: 70%;
	height: 70%;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
  }
  .progress .bg.html::after {
	content: '';
	background-image: url('../img/ico/html.png');
  }
  .progress .bg.css::after {
	content: '';
	background-image: url('../img/ico/css.png');
  }
  .progress .bg.js::after {
	content: '';
	background-image: url('../img/ico/js.png');
  }
  .progress .bg.bootstrap::after {
	content: '';
	background-image: url('../img/ico/bootstrap.png');
  }
  .progress .bg.php::after {
	content: '';
	background-image: url('../img/ico/php.png');
  }
  .progress .bg.photoshop::after {
	content: '';
	background-image: url('../img/ico/photoshop.png');
  }
  .progress .bg.vue::after {
	content: '';
	background-image: url('../img/ico/vue.png');
  }
  .progress .bg.jquery::after {
	content: '';
	background-image: url('../img/ico/jquery.png');
  }
  .progress .bg.sass::after {
	content: '';
	background-image: url('../img/ico/sass.png');
  }
  
  /* 메인 bg 영역 */
  .main-section {
	background-image: url('../img/bg-main.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
  }
  #textAni {
	color: #fff!important;
  }
  /* 메인 bg 영역 */